<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1"/>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<link rel="stylesheet" href="/bootstrap.css">
<script src="/bootstrap.js"></script>
<link rel="stylesheet" type="text/css" href="/CustomeCss/MainPage.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<title>Insert title here</title>
<style>
html,body {
  scroll-behavior: smooth;
}
</style>
</head>
<body>
<div style="background-color: #f4f4f4;">
  <div id="header" class="container-fluid text-white">
    <div class="row" style="padding: 0;">
        <div class="col-2" style="padding:5px">
          <img src="/LogoImage/logo.png"  width="100" height="70" style="cursor: pointer; ">
        </div>
        <div class="col-6 d-flex justify-content-center pl-4">
          <input type="text" id="nameSearch" placeholder=" Please enter product's name to search" style="width: 80%; height: 50%;margin-top: 20px; margin-left:90px; border-radius: 10px;">
          <button type="button" id="searchByNameBtn" class="btn btn-danger" style="width:50px ; height: 50%;margin-top: 20px;"><i class="fa fa-search" aria-hidden="true"></i></button>
        </div>
        <div class="col-4 d-flex justify-content-center">
          <div class="row container ml-4">
            <div class="col-4 text-center"  id="cart" style="position: relative;">
              <i class="fa fa-shopping-cart pt-3" aria-hidden="true" style="font-size: 18px;"></i><br>
              <span>Your Cart</span>
              <span class="fs-cartic countTotalCart" th:if="${orderNumber != null}">[[${orderNumber}]] </span>
            </div>
            <div class="col-5 text-center"  id="personAccount">
              <i class="fa fa-user pt-3" aria-hidden="true" style="font-size: 18px;"></i><br>
              <span th:if="${username != null}" >Hi [[${username}]] !</span>
            </div>
            <div class="col-3 text-center"  id="logoutAccount" th:if="${username != null}">
              <i class="fa fa-sign-out pt-3" aria-hidden="true" style="font-size: 18px;"></i><br>
              <span th:if="${username != null}">Log out</span>
            </div>
          </div>
        </div>
    </div>
  </div>
  
  <div class="container-fluid mt-4 d-flex justify-content-center">
    <nav class="navbar navbar-expand-lg navbar-dark " style="background-color: #00483d; border-radius: 10px; width: 80%;">
      <div class="container-fluid  d-flex justify-content-around" >
        <ul class="navbar-nav">
          <li class="nav-item dropdown" style="padding-left: 50px;"> 
            <a class="nav-link dropdown-toggle text-white" href="#" data-bs-toggle="dropdown">Apple </a> 
            <ul class="dropdown-menu fade-up">
                <li><a class="dropdown-item" href="/user/searchBySeries/iphone14" > iPhone 14 Series</a></li>
                <li><a class="dropdown-item" href="#"> iPhone 13 Series </a></li>
                <li><a class="dropdown-item" href="#"> iPhone 12 Series </a></li>
            </ul>
          </li>
          <li class="nav-item dropdown" style="padding-left: 50px;">
            <a class="nav-link dropdown-toggle text-white" href="#" data-bs-toggle="dropdown">  Samsung  </a>
              <ul class="dropdown-menu fade-up">
                  <li><a class="dropdown-item" href="/user/searchBySeries/galaxyz"> Galaxy Z Series</a></li>
                  <li><a class="dropdown-item" href="/user/searchBySeries/galaxys"> Galaxy S Series </a></li>
                  <li><a class="dropdown-item" href="/user/searchBySeries/galaxya"> Galaxy A Series </a></li>
              </ul>
          </li>
          <li class="nav-item dropdown" style="padding-left: 50px;">
            <a class="nav-link dropdown-toggle text-white" href="#" data-bs-toggle="dropdown">  Xioami  </a>
              <ul class="dropdown-menu fade-up">
                <li><a class="dropdown-item" href="#"> Xiaomi Redmi</a></li>
                <li><a class="dropdown-item" href="#"> Xiaomi Redmi Note </a></li>
              </ul>
          </li>
          <li class="nav-item dropdown" style="padding-left: 50px;">
            <a class="nav-link dropdown-toggle text-white" href="#" data-bs-toggle="dropdown">  Oppo  </a>
              <ul class="dropdown-menu fade-up">
                <li><a class="dropdown-item" href="#"> OPPO Find X Series</a></li>
                <li><a class="dropdown-item" href="#"> OPPO Reno Series </a></li>
                <li><a class="dropdown-item" href="#"> OPPO A Series </a></li>
              </ul>
          </li>
          <li class="nav-item dropdown" style="padding-left: 50px;">
            <a class="nav-link dropdown-toggle text-white" href="#" data-bs-toggle="dropdown">  Vivo  </a>
              <ul class="dropdown-menu fade-up">
                <li><a class="dropdown-item" href="#"> Vivo V Series</a></li>
                <li><a class="dropdown-item" href="#"> Vivo T Series </a></li>
                <li><a class="dropdown-item" href="#"> Vivo Y Series </a></li>
              </ul>
          </li>
          <li class="nav-item dropdown" style="padding-left: 50px;">
            <a class="nav-link dropdown-toggle text-white" href="#" data-bs-toggle="dropdown">  Nokia  </a>
              <ul class="dropdown-menu fade-up">
                <li><a class="dropdown-item" href="#"> Nokia</a></li>
                <li><a class="dropdown-item" href="#"> Nokia Plus </a></li>
              </ul>
          </li>
          <li class="nav-item dropdown" style="padding-left: 50px;">
            <a class="nav-link dropdown-toggle text-white" href="#" data-bs-toggle="dropdown">  Realme  </a>
              <ul class="dropdown-menu fade-up">
                <li><a class="dropdown-item" href="#"> Realme C</a></li>
                <li><a class="dropdown-item" href="#"> Realme Cs </a></li>
              </ul>
          </li>
        </ul>
      </div> 
     </nav>
  </div>
  
  <!--   Phone Brand -->
  <div class="container-fluid mt-2 d-flex justify-content-center">
    <nav class="navbar navbar-expand-lg navbar-dark " style="background-color:#fbfbfd; border-radius: 10px; width: 80%;">
      <div class="container-fluid  d-flex justify-content-around" >
        <ul class="navbar-nav">
          <li class="nav-item dropdown" style="padding-left: 50px;"> 
            <a class="text-white" href="/user/searchByBrand/apple" >
				<img src="/LogoImage/iPhone-brand.png"  width="80" height="50">            
            </a> 
          </li>
          <li class="nav-item dropdown" style="padding-left: 50px;">
          	<a class=" text-white" href="/user/searchByBrand/samsung">
				<img src="/LogoImage/Samsung-brand.png"  width="80" height="50">            
            </a>
          </li>
          <li class="nav-item dropdown" style="padding-left: 50px;">
          	<a class=" text-white" href="/user/searchByBrand/xiaomi">
				<img src="/LogoImage/Xiaomi-brand.png"  width="80" height="50">            
            </a>
          </li>
          <li class="nav-item dropdown" style="padding-left: 50px;">
          	<a class=" text-white" href="/user/searchByBrand/oppo">
				<img src="/LogoImage/Oppo-brand.png"  width="80" height="50">            
            </a>
          </li>
          <li class="nav-item dropdown" style="padding-left: 50px;">
          	<a class=" text-white" href="/user/searchByBrand/vivo">
				<img src="/LogoImage/Vivo-brand.png"  width="80" height="50">            
            </a>
          </li>
          <li class="nav-item dropdown" style="padding-left: 50px;">
          	<a class=" text-white" href="/user/searchByBrand/nokia">
				<img src="/LogoImage/Nokia-brand.png"  width="80" height="50">            
            </a>
          </li>
          <li class="nav-item dropdown" style="padding-left: 50px;">
          	<a class=" text-white" href="/user/searchByBrand/realme">
				<img src="/LogoImage/Realme-brand.png"  width="100" height="40">            
            </a>
          </li>
        </ul>
      </div> 
     </nav>
  </div>
  
    
  <div class="container-fluid mt-3 d-flex justify-content-end" style="width:78%;height:30px;">
  	<nav class="navbar navbar-expand-lg navbar-dark p-1" style ="background-color:#00483d; border-radius:5px;margin-right:10px;">
  		<ul class="navbar-nav">
  			<li class="nav-item dropdown" >
            <a class="nav-link dropdown-toggle text-white" href="#" data-bs-toggle="dropdown">  Sắp xếp theo  </a>
              <ul class="dropdown-menu fade-up">
                  <li><a class="dropdown-item"  th:href="@{'/user/searchByBrand/desc/' + ${brandItem}}"> Giá từ cao đến thấp</a></li>
                  <li><a class="dropdown-item" th:href="@{'/user/searchByBrand/asc/' + ${brandItem}}"> Giá từ thấp đến cao</a></li>
              </ul>
          </li>
  		</ul>
  	</nav>	
  </div>
  

  <!-- display phones -->
  <div class="mt-1 d-flex justify-content-center " >
      <div class="row container-fluid d-flex justify-content-around" style="width: 1150px;" id="phoneWrap">
        <div class="col-3 mt-3 phoneItem" style="background-color:#c8d0cf;border:2px solid #c8d0cf;margin-left:5px;" th:each="edi : ${editionList}" >
          <div class=" d-flex justify-content-center">
            <img id="phonePicture" th:src="@{${'/uploads/' + edi.telephone.pictureUrl}}" th:attr="onclick=|phoneDetail('*{edi.id}')|"  width="250" height="250" style="border-radius: 10px; margin-top: 15px;">
          </div>
          <div class="row d-flex justify-content-center ">
            <span class="col-12 text-center"  style="font-weight:bold; font-size: 18px;">[[*{edi.telephone.name}]]  [[*{edi.capacity}]]GB</span>
          </div>
          <div id="" class="row d-flex justify-content-center" style="width: 250px; margin-left: 11px;">
              <span class="col-12 text-center"   style="font-weight:bold; font-size: 14px; color:#cb1c22"> <del>  [[${#numbers.formatDecimal(edi.price, 0, 'COMMA', 0, 'POINT')}]] VND</del></span>  
          </div>
          <div id="" class="row d-flex justify-content-center" style="width: 250px; margin-left: 11px;">
              <span class="col-12 text-center"   style="font-weight:bold; font-size: 22px; color:#cb1c22">[[${#numbers.formatDecimal(edi.price -edi.discount, 0, 'COMMA', 0, 'POINT')}]] VND</span>  
          </div>
          <div id="ip14promax" class="row d-flex justify-content-left mt-2 mb-1" style="width: 250px; height: 35px ; margin-left: 0px;">
              <button class="col-4 btn btn-danger" type="button" th:attr="onclick=|phoneDetail('*{edi.id}')|" style="padding: 0px;width: 120px;"> BUY NOW </button>  
              <button class="col-4 btn btn-secondary" type="button" th:attr="onclick=|phoneDetail('*{edi.id}')|" style="width: 120px;margin-left:5px"> DETAIL </button>  
          </div>

        </div>
        
        </div>
	      <div class="heightCut" style="height:5px">
	  	</div>
      </div>
      
      
  <div style="height:50px">
  </div>

</div>


<script>
  function phoneDetail(editionId){
		window.location.href = "/user/phoneDetail/" +editionId;
  }
  
  $(document).ready(function () {
	$('#cart').click(function(){
    	window.location.href = "/cart/orders";
    });
	
	$('#logoutAccount').click(function(){
    	window.location.href = "/logout" ;
    });
	
	$('#searchByNameBtn').click(function(){
    	window.location.href = "/user/findByName/" + $("#nameSearch").val();
    });
    
    $('.phoneItem').hover(function(){
    		$(this).find('img').css("transform", "scale(1.04, 1.04)").css('transition-delay', '0.02s') ;
    	   $(this).css("border","2px solid #cb1c22");
   			$(this).find('.heightCut').css("height", "4px") ;
    	}, function(){
    		$(this).find('img').css("transform", "none");
    		$(this).css("border","2px solid #c8d0cf");
//     		$(this).find('.heightCut').css("height", "5px") ;
    });
    
    $('#logoQV').click(function(e){
    	window.location.href = "/loginSuccess";
    });

    
  })


</script>
</body>
</html>