<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1"/>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<link rel="stylesheet" href="/bootstrap.css">
<script src="/bootstrap.js"></script>
<link rel="stylesheet" type="text/css" href="/CustomeCss/MainPage.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<title>Insert title here</title>
<style>
html,body {
  scroll-behavior: smooth;
}
ul {
  list-style-type: none;
}
</style>
</head>
<body>
<div style="background-color: #f4f4f4;">
  <div id="header" class="container-fluid text-white">
    <div class="row" style="padding: 0;">
        <div class="col-2" style="padding:5px">
          <img src="/LogoImage/logo.png"  width="100" height="70" id="logoQV">
        </div>
        <div class="col-7 d-flex justify-content-center">
          <input type="text" id="nameSearch" placeholder=" Please enter product's name to search" style="width: 70%; height: 50%;margin-top: 20px; border-radius: 10px;">
          <button type="button" id="searchByNameBtn" class="btn btn-danger" style="width:50px ; height: 50%;margin-top: 20px;"><i class="fa fa-search" aria-hidden="true"></i></button>
        </div>
        <div class="col-3 d-flex justify-content-center">
          <div class="row container ">
            <div class="col-5 text-center"  id="cart" style="position: relative;">
              <i class="fa fa-shopping-cart pt-3" aria-hidden="true" style="font-size: 20px;"></i><br>
              <span>Your Cart</span>
              <span class="fs-cartic countTotalCart" th:if="${orderNumber != null}">[[${orderNumber}]] </span>
            </div>
            <div class="col-7 text-center"  id="personAccount">
              <i class="fa fa-user pt-3" aria-hidden="true" style="font-size: 20px;"></i><br>
              <span th:if="${username != null}" >Welcome [[${username}]] !</span>
            </div>
          </div>
        </div>
    </div>
  </div>
  
  <div class="container-fluid mt-4 d-flex justify-content-center">
    <nav class="navbar navbar-expand-lg navbar-dark " style="background-color: #00483d; border-radius: 10px; width: 80%;">
      <div class="container-fluid  d-flex justify-content-around" >
        <ul class="navbar-nav">
          <li class="nav-item dropdown" style="padding-left: 50px;"> 
            <a class="nav-link dropdown-toggle text-white" href="#" data-bs-toggle="dropdown">Apple </a> 
            <ul class="dropdown-menu fade-up">
                <li><a class="dropdown-item" href="/user/searchBySeries/iphone14" > iPhone 14 Series</a></li>
                <li><a class="dropdown-item" href="#"> iPhone 13 Series </a></li>
                <li><a class="dropdown-item" href="#"> iPhone 12 Series </a></li>
            </ul>
          </li>
          <li class="nav-item dropdown" style="padding-left: 50px;">
            <a class="nav-link dropdown-toggle text-white" href="#" data-bs-toggle="dropdown">  Samsung  </a>
              <ul class="dropdown-menu fade-up">
                  <li><a class="dropdown-item" href="#"> Galaxy Z Series</a></li>
                  <li><a class="dropdown-item" href="#"> Galaxy S Series </a></li>
                  <li><a class="dropdown-item" href="#"> Galaxy A Series </a></li>
              </ul>
          </li>
          <li class="nav-item dropdown" style="padding-left: 50px;">
            <a class="nav-link dropdown-toggle text-white" href="#" data-bs-toggle="dropdown">  Xioami  </a>
              <ul class="dropdown-menu fade-up">
                <li><a class="dropdown-item" href="#"> Xiaomi Redmi</a></li>
                <li><a class="dropdown-item" href="#"> Xiaomi Redmi Note </a></li>
              </ul>
          </li>
          <li class="nav-item dropdown" style="padding-left: 50px;">
            <a class="nav-link dropdown-toggle text-white" href="#" data-bs-toggle="dropdown">  Oppo  </a>
              <ul class="dropdown-menu fade-up">
                <li><a class="dropdown-item" href="#"> OPPO Find X Series</a></li>
                <li><a class="dropdown-item" href="#"> OPPO Reno Series </a></li>
                <li><a class="dropdown-item" href="#"> OPPO A Series </a></li>
              </ul>
          </li>
          <li class="nav-item dropdown" style="padding-left: 50px;">
            <a class="nav-link dropdown-toggle text-white" href="#" data-bs-toggle="dropdown">  Vivo  </a>
              <ul class="dropdown-menu fade-up">
                <li><a class="dropdown-item" href="#"> Vivo V Series</a></li>
                <li><a class="dropdown-item" href="#"> Vivo T Series </a></li>
                <li><a class="dropdown-item" href="#"> Vivo Y Series </a></li>
              </ul>
          </li>
          <li class="nav-item dropdown" style="padding-left: 50px;">
            <a class="nav-link dropdown-toggle text-white" href="#" data-bs-toggle="dropdown">  Nokia  </a>
              <ul class="dropdown-menu fade-up">
                <li><a class="dropdown-item" href="#"> Nokia</a></li>
                <li><a class="dropdown-item" href="#"> Nokia Plus </a></li>
              </ul>
          </li>
          <li class="nav-item dropdown" style="padding-left: 50px;">
            <a class="nav-link dropdown-toggle text-white" href="#" data-bs-toggle="dropdown">  Realme  </a>
              <ul class="dropdown-menu fade-up">
                <li><a class="dropdown-item" href="#"> Realme C</a></li>
                <li><a class="dropdown-item" href="#"> Realme Cs </a></li>
              </ul>
          </li>
        </ul>
      </div> 
     </nav>
  </div>

  <!-- display phones -->
  <div class="mt-2 d-flex justify-content-center " th:object="${telephone}">
      <div class="row container-fluid d-flex justify-content-around" style="width: 1200px;" id="phoneWrap" th:object="${edition}">
		<!--left Side -->
        <div class="col-6 mt-3 phoneItem" style="background-color:#c8d0cf;border:2px solid #c8d0cf;"  >
          <div class="mt-3 d-flex justify-content-center">
            <img id="phonePicture" th:src="@{${'/uploads/' + telephone.pictureUrl}}"  width="550" height="550" style="border-radius: 10px; margin-top: 15px;">
          </div>
        </div>
        
        <!--right Side -->
        <div class="col-6 mt-3 phoneItem" style="background-color:#c8d0cf;border:2px solid #c8d0cf;" >
           	<div  class="mt-1">
        		<span class=" text-left"   style="font-weight:bold; font-size: 30px; color:#cb1c22;font-family: Roboto,sans-serif;">[[${#numbers.formatDecimal(edition.price -edition.discount, 0, 'COMMA', 0, 'POINT')}]] VND</span>
        		<span class="pt-1"  style="font-weight:bold; font-size: 18px; color:grey;font-family: Roboto,sans-serif;"><del>   [[${#numbers.formatDecimal(edition.price, 0, 'COMMA', 0, 'POINT')}]] VND </del></span>
        	</div>
        	<div>
        		<h3 style="color:#005b96">Thông tin chi tiết</h3>
        	</div>
        	<div class="row">
        		<pre style="font-family: 'Numans', sans-serif;font-size: 18px;">[[*{telephone.detail.information}]] </pre>
        	</div>
        	<div class="row">
        		<h3 style="color:#005b96">Khuyến Mãi</h3>
        	</div>
        	<div class="row">
	        	<ul style="font-family: 'Numans', sans-serif;font-size: 18px;">
				  <li>
				  	<i class="fa fa-check-circle" style="color:#04aa6d" aria-hidden="true"></i>
					<span> Giảm đến 20% khi trả thẳng 1 lần</span>				  	
				  </li>
				  <li>
				  	<i class="fa fa-check-circle" style="color:#04aa6d" aria-hidden="true"></i>
					<span> Thu cũ đổi mới trợ giá ngay 15% đến 3 triệu (SmartExchange)</span>
				  </li>
				  <li>
				  	<i class="fa fa-check-circle" style="color:#04aa6d" aria-hidden="true"></i>
					<span> Giảm ngay 20% khi mua sim MBF Siêu Data 1T giá chỉ 184.000đ</span>
				  </li>
				  <li>
				  	<i class="fa fa-check-circle" style="color:#04aa6d" aria-hidden="true"></i>
					<span> Đơn hàng mua Điện thoại/Máy tính bảng/Laptop được tặng 1 PMH 500.000đ</span>
				  </li>
				  <li>
				  	<i class="fa fa-check-circle" style="color:#04aa6d" aria-hidden="true"></i>
					<span> Giảm đến 20% gói bảo hành VIP 1 đổi 1 / Rơi vỡ khi mua kèm máy</span>
				  </li>
				</ul>
        	</div>
        	<div class="row mt-2 d-flex justify-content-center" >
        		<button class="btn btn-danger" type="button" id="buynow" th:attr="onclick=|buyNow('${edition.id}')|">
        			<div><strong>MUA NGAY</strong></div>
        			<span>Giao hàng miễn phí hoặc nhận tại shop</span>
        		</button>
        	</div>
        	<div class="mt-1 row">
        		<button class="btn btn-primary" type="button" style="width:49.3%;">
        			<div><strong>TRẢ GÓP 0%</strong></div>
        			<span>Duyệt nhanh qua điện thoại</span>
        		</button>
        		<button class="btn btn-primary" type="button" style="width:49.3%;margin-left:8px;">
        			<div><strong>TRẢ GÓP QUA THẺ</strong></div>
        			<span>Visa, Master Card, JCB, AMEX</span>
        		</button>
        	</div>
        	<div style="height:20px;">
        	</div>
        </div>
        
      </div>
      
      
  </div>
  <div style="height:50px">
  </div>

</div>


<script>
  function buyNow(editionId){
	 window.location.href = "/cart/orders/" +editionId;
  }
  
  $(document).ready(function () {
	
	$('#logoQV').click(function(e){
    	window.location.href = "/loginSuccess";
    });
	
	$('#searchByNameBtn').click(function(){
    	window.location.href = "/user/findByName/" + $("#nameSearch").val();
    });
	
	$('#cart').click(function(){
    	window.location.href = "/cart/orders";
    });
    
  })


</script>
</body>
</html>