<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<link rel="stylesheet" href="/bootstrap.css">
<script src="/bootstrap.js"></script>
<link rel="stylesheet" type="text/css" href="/CustomeCss/MainPage.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<title>Insert title here</title>
</head>
<body>
<div style="background-color: #f4f4f4;">
  <div id="header" class="container-fluid text-white">
    <div class="row" style="padding: 0;">
        <div class="col-2" style="padding:5px">
          <img src="/LogoImage/logo.png"  width="100" height="70" >
        </div>
        <div class="col-9 d-flex justify-content-center">
          <div class="row container ">
            <div class="col-12 text-center" style="margin-top: auto;margin-bottom: auto;"  id="personAccount">
              <h3 th:if="${username != null}">
              <i class="fa fa-user" aria-hidden="true"></i>
              Welcome Admin [[${username}]]!</h3>
              <P style="font-size:22px;font-weight:bold;">Thống Kê Doanh Thu</P>
            </div>
          </div>
        </div>
    </div>
  </div>
  
  <div class="container-fluid mt-4 pb-4 d-flex justify-content-center">
    <nav class="navbar navbar-expand-lg navbar-dark " style="background-color: #c8d0cf; border-radius: 10px; width: 60%;">
      <div class="container-fluid  d-flex justify-content-around" >
        <form th:action="@{/admin/manage/searchRevenue}" method="post">
		  <label for="startDate">Từ ngày:</label>
		  <input type="date" id="startDate" name="startDate">
		  <label for="endDate" style="margin-left:30px;">Đến ngày:</label>
		  <input type="date" id="endDate" name="endDate">
		  <input type="submit" class="btn btn-success" style="margin-left:30px;" value="Search">
		</form>
      </div> 
     </nav>
  </div>

</div>


<script>
  $(document).ready(function () {
//     $('#iphone14, #cart').click(function(){
//       alert("hello");
//     });
    
    $('#personAccount').click(function(){
    	window.location.href = "/alogin";
    });
    

    
  })


</script>
</body>
</html>