@charset "ISO-8859-1";
#header{
    background-color: #00483d;
    height: 80px;
}

#cart, #personAccount, #phonePicture, #logoQV, #logoutAccount,#backhome {
     cursor: pointer; 
}

.fs-cartic{
	position: absolute;
    top: 10px;
    left: 66px;
    width: 15px;
    height: 15px;
    line-height: 15px;
    text-align: center;
    font-size: 10px;
    color: #fff;
    display: inline-block;
    background: #f50100;
    border-radius: 100%;
}